# General
bin/*
docs/*
build/build.config

# Eclipse
.settings/*
.project

# Flash Builder
html-template/*
bin-debug/*
bin-release/*
.actionScriptProperties
.flexProperties
.flexLibProperties

# FDT
.as3_classpath

# Source Mate
.sourceMate
.sourceMateMetadataSettings

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# OS X
Icon
Thumbs.db
.DS_Store